# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
*.sqlite3
backend/scratch
backend/data

# Node
node_modules/
dist/
build/
*.log

# IDEs y sistema
.vscode/
.idea/
.DS_Store

# pytest
.coverage
htmlcov/
coverage.xml

# Documento
ComandosParaChequeos.md